* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7d77aa;
  font-family: Arial, sans-serif;
  color: white;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
}

.logo-img {
  height: 40px;
  font-size: 5px;
  margin-left: 10px;
}

nav {
  display: flex;
  gap: 70px;
}

nav a {
  background: #554b82;
  padding: 7px 13px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
}

.hero {
  height: 250px;
  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),
              url("assets/hero2.jpg") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 15px solid white;
  border-bottom: 15px solid white;
}

.hero h1 {
  font-size: 48px;
}

main {
  padding: 40px 80px;
}

.info {
  display: flex;
  gap: 40px;
  align-items: center;
}

.info img {
  width: 400px;
  border: 6px solid white;
}

.text h2 {
  background: #554b82;
  display: inline-block;
  padding: 7px 13px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.text p {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.section-title {
  margin: 40px 0 20px;
  background: #554b82;
  display: inline-block;
  padding: 7px 13px;
  border-radius: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 120px;
  justify-items: center;
}

.card img {
  width: 300px;
  border: 6px solid white;
}

.card p {
  text-align: center;
  margin-top: 10px;
}

.big {
  text-align: center;
  margin: 40px 0;
}

.big img {
  width: 500px;
  border: 6px solid white;
}

.empty {
  width: 300px;
  height: 300px;
  background: #ccc;
  border: 6px solid white;
}

footer {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 10px;
  background: #635b91;
}

button {
  background: #554b82;
  color: white;
  border: none;
  padding: 7px 13px;
  border-radius: 8px;
}